@use "sass:math"

$number-of-steps:  3

$line-width:       2px
$bullet-size:      2em

$background-color: #ffffff
$foreground-color: #555

$active-background-color: #0275ff
$active-foreground-color: #ffffff

// body
//   background-color: $background-color


ol.steps
  background-color: $background-color
  position: relative
  overflow: hidden
  counter-reset: wizard
  margin: 2em 1em


  li
    position: relative
    float: left
    width: math.div(100%, $number-of-steps)
    text-align: center
    color: $active-background-color
    list-style: none


  .current ~ li
    color: $foreground-color


  li:before
    counter-increment: wizard
    content: counter(wizard)
    display: block
    color: $active-foreground-color
    background-color: $active-background-color
    border: $line-width solid $active-background-color
    text-align: center
    width: $bullet-size
    height: $bullet-size
    line-height: $bullet-size
    border-radius: $bullet-size
    position: relative
    left: 50%
    margin-bottom: $bullet-size * 0.5
    margin-left: $bullet-size * -0.5
    z-index: 1
    
    .current ~ &
      background-color: $background-color
      color: $foreground-color
      border-color: $foreground-color
    


  li + li
    &:after
      content: ""
      display: block
      width: 100%
      background-color: $active-background-color
      height: $line-width
      position: absolute
      left: -50%
      top: $bullet-size * 0.5
      z-index: 0
    


  .current ~ li:after
      background-color: $foreground-color
