.App
  .step
    max-width: 600px
    margin: 3rem auto
    padding: 1rem 2rem
    background-color: #ffffff
    border-radius: 5px
    nav
      display: flex
      justify-content: flex-end
      button
        margin-left: 1rem
        border: 1px solid #CCCCCC
        border-radius: 5px
        padding: 0.5rem 0.5rem
        &.active
          font-size: 1rem
          color: #ffffff
          background-color: #0275FF
          padding: 0.5rem 1.5rem
  .step3
    input[type='number']
      padding: 0.5rem
      border-radius: 3px
      border: 1px solid #CCCCCC
      margin-right: 0.5rem
  .canvas
    display: none
    margin: 0 auto
    .sheet
      margin: 0 auto
      canvas
        margin: 2.5mm 2.5mm 0 0


@media print
  body
    background-color: #ffffff !important
    .App
      .steps
        display: none
      .canvas
        display: block
