.App
  .canvas
    // display: none
    .sheet
      margin: 0 auto
      &.AONE
        padding: 8.8mm 8.2mm
        div.barcode
          box-sizing: border-box
          display: inline-block
          width: 48.3mm
          height: 25.4mm
          padding: 3mm 0 1mm
          margin: 0
          text-align: center
          box-shadow: 2px 0 0 0 #CCCCCC, 0 2px 0 0 #CCCCCC, 2px 2px 0 0 #CCCCCC, 2px 0 0 0 #CCCCCC inset, 0 2px 0 0 #CCCCCC inset
@media print
  body
    background-color: #ffffff !important
    .App
      .steps
        display: none
      .canvas
        display: block
        .sheet
          div.barcode
            border: none !important